---
blog:
    recent_posts:
        limit: 25
        pages: 3
        summary: 200
---
{{#partial "page"}}
<section class="page-hero" style="background-image: url('{{getImage blog.post.thumbnail}}?imbypass=on');">
    <h1>{{blog.post.title}}</h1>
    <div class="blog-info">
        {{#if blog.post.author}}
        <span class="blog-meta blog-meta-author">{{lang 'blog.posted_by' name=blog.post.author}}</span>
        {{/if}}
        <span class="blog-meta blog-meta-date"> On {{blog.post.date_published}}</span>
        {{#if show_tags}}
        {{#if blog.post.tags}}
        <span class="blog-meta blog-meta-category"> In {{#each blog.post.tags}}{{#if @first}}<a
                href="{{url}}"> {{name}}</a>{{else}}<a href="{{url}}">,
                {{name}}</a>{{/if}}{{/each}}</span>
        {{/if}}
        {{/if}}
    </div>
</section>
<main id="main-content" class="single-post">
    <div class="container-inner">
        <div class="row">
            <div class="col-md-9">
                {{> components/blog/post post=blog.post show_tags=false}}
            </div>
            <aside class="col-md-3">
                <h2>Recent Blogs</h2>
                <div class="recent-blogs">
                    {{#each blog.recent_posts}}
                    {{> components/blog/recent-posts post=this settings=../settings show_tags=false show_social=false }}
                    {{/each}}
                    </ul>
            </aside>
        </div>
    </div>
</main>
{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
