
<p>&nbsp;</p>
<a name="about" class="page-link"></a>
<section class="wrapper">
	<div class="container about">
		<header class="major">	
			<h2>Welcome to the Australian Orthotic Group (AOG)</h2>
		</header>
		<div class="row">
			<div class="12u">
				<p>AOG is your connection to the OHI family of brands in the Australasian region.  We distribute in Australia, New Zealand, Singapore, China, as well as other parts of East Asia and the Pacific.  We bring OHI products directly to practitioners, including The Orthotic Group (TOG), GaitScan, OHI1Scan, Langer Biomechanics, Arizona AFO, Apex brand footwear, and much more!  	</p>
				<p>Whether you are a practitioner who is brand new to AOG, an existing AOG customer, or a patient looking for a practitioner near you, please reach out to us at 1300 885 246 (+61293628670 if calling from outside of Australia) or email us at <a href="mailto:AOG.Reception@tog.com">AOG.Reception@tog.com</a></p>
				<p>You may also fill out the form below and someone from AOG will contact you with more information.
				</p>
<p>
	<form action="https://liveformhq.com/form/afb9c0ba-c592-48e0-9881-c5ecf7467bf2" method="POST" accept-charset="utf-8">
		
		<input type="hidden" name="_utf8" value="✓">
		<input type="hidden" value="http://australianorthoticgroup.com/thank-you.html" name="_redirect" />
	  
		<label for="firstname">First Name</label>
		<input type="text" id="firstname" name="firstname"> <br />

		<label for="lastname">Last Name</label>
		<input type="text" id="lastname" name="lastname"> <br />

		<label for="email">Email</label>
		<input type="text" id="email" name="email"> <br />

		<label for="phonenumber">Phone Number</label>
		<input type="text" id="phonenumber" name="phonenumber"> <br />

		<label for="practitionertype">Practitioner Type</label>
		<select name="practitionertype">
			<option value="Podiatrist">Podiatrist</option>
			<option value="Chiropractor">Chiropractor</option>
			<option value="Physiotherapist">Physiotherapist</option>
			<option value="Osteopath">Osteopath</option>
			<option value="Pedorthist">Pedorthist</option>
			<option value="Other Practitioner">Other Practitioner</option>
			<option value="Patient">Patient</option>
		</select> <br />

		<label for="country">Country</label>
		<input type="text" id="country" name="country"> <br />

		<label for="brands">Learn more about (Select all that apply):</label>
		<input type="checkbox" id="brands" name="brands"/> The Orthotic Group (TOG)<br />
		<input type="checkbox" id="brands" name="brands"/> Langer Biomechanics<br />
		<input type="checkbox" id="brands" name="brands"/> GaitScan<br />
		<input type="checkbox" id="brands" name="brands"/> OHI1Scan<br />
		<input type="checkbox" id="brands" name="brands"/> Arizona AFO<br />
		<input type="checkbox" id="brands" name="brands"/> Apex Footwear<br />								
		<input type="checkbox" id="brands" name="brands"/> Off the shelf products<br />	

		<label for="message">Message</label>
		<textarea id="message" name="message"></textarea><br />

		<button type="submit">Submit</button>
	  </form>

</p>
			</div>
		</div>
	</div>
</section>

