<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <h4>Locations</h4>
        </div>
        <div class="row collapse-at-2">
            <div class="3u footer-col">
                <h5>Australia</h5>
                <p>Australian Orthotic Group Pty Ltd<br/>
                    Unit 4; 4-8 Inglewood Place<br/>
                    Baulkham Hills NSW 2153 Australia<br/>
                    1300.885.264<br/>
                    </p>
            </div>
            <div class="3u footer-col">
                <h5>Global Headquarters</h5>
                <p>Orthotic Holdings, Inc.<br/>
                Mesa, AZ USA</p>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; {{ site.title }}. All rights reserved.</li>
        </ul>
    </div>
</footer>

<script>
    $("#contact-form").submit(function(event) {
       var recaptcha = $("#g-recaptcha-response").val();
       if (recaptcha === "") {
          event.preventDefault();
          $("#recaptcha-error").css('display', 'block');
       }
    });
</script>