<div class="submenu-wrap" data-id="foot">
    <ul class="submenu">
        <li class="foot-conditions">
            <h5>Foot Conditions</h5>
            {{> components/header/submenu/foot-conditions }}
        </li>
        <li>
            <h5>Diabetes & Prevention</h5>
            {{> components/header/submenu/diabetes }}
        </li>
        <li class="featured">
            <h5>Featured Shoes for Diabetic Feet</h5>
            {{> components/header/submenu/fall }}
        </li>
    </ul>
</div>
