<div class="description">
	<div class="container-inner">
		<div class="row">
			<div class="col-xl-10 offset-xl-1 center">
				<h2>The Apex Footwear Promise:<br />Extraordinary comfort, contemporary style and swift relief from foot pain. </h2>
				<p>Health. It’s not just in our name, it’s in our DNA. Apex Foot Health has been manufacturing the most comfortable, supportive and health-conscious shoes for nearly fifty years. Designed by foot health experts, thousands of medical professionals recommend Apex day in and day out for the numerous features, healthful benefits and contemporary styles. Relief from foot pain is our specialty, so if you work on your feet all day, suffer from <a href="/foot-conditions/plantar-fasciitis-shoes/">plantar fasciitis</a> or you’re just looking for the best constructed, most comfortable shoes on the market, welcome to Apex. Your feet DON’T have to hurt. Apex footwear is guaranteed to delight – or your money back!</p>
				<div class="button-wrap">
					<a href="/about-us/" class="button"><span><span><span>More about Apex Foot Health</span></span></span></a>
				</div>
			</div>
		</div>
	</div>
</div>
