
<aside class="subnav info col-md-3">
    <h2>Find Help</h2>
    <div class="subnav-links">
        {{#if page.title '===' 'FAQs'}}
            <div class="subnav-link">
                <div class="inner button-wrap">
                    <button class="button callout"><span><span><span>FAQs</span></span></span></button>
                </div>
            </div>
        {{else}}
            <div class="subnav-link">
                <div class="inner button-wrap">
                    <a class="button" href="/faqs/"><span><span><span>FAQs</span></span></span></a>
                </div>
            </div>
        {{/if}}

        {{#if page.title '===' 'Contact Us'}}
            <div class="subnav-link">
                <div class="inner button-wrap">
                    <button class="button callout"><span><span><span>Contact Us</span></span></span></button>
                </div>
            </div>
        {{else}}
            <div class="subnav-link">
                <div class="inner button-wrap">
                    <a class="button" href="/contact-us/"><span><span><span>Contact Us</span></span></span></a>
                </div>
            </div>
        {{/if}}

        {{#if page.title '===' 'Shipping'}}
            <div class="subnav-link">
                <div class="inner button-wrap">
                    <button class="button callout"><span><span><span>Shipping</span></span></span></button>
                </div>
            </div>
        {{else}}
            <div class="subnav-link">
                <div class="inner button-wrap">
                    <a class="button" href="/shipping/"><span><span><span>Shipping</span></span></span></a>
                </div>
            </div>
        {{/if}}

        {{#if page.title '===' 'Return Policy'}}
            <div class="subnav-link">
                <div class="inner button-wrap">
                    <button class="button callout"><span><span><span>Returns</span></span></span></button>
                </div>
            </div>
        {{else}}
            <div class="subnav-link">
                <div class="inner button-wrap">
                    <a class="button" href="/return-policy/"><span><span><span>Returns</span></span></span></a>
                </div>
            </div>
        {{/if}}
        {{#if page.title '===' 'Terms and Conditions'}}
            <div class="subnav-link">
                <div class="inner button-wrap">
                    <button class="button callout"><span><span><span>Terms & Conditions</span></span></span></button>
                </div>
            </div>
        {{else}}
            <div class="subnav-link">
                <div class="inner button-wrap">
                    <a class="button" href="/terms-and-conditions/"><span><span><span>Terms & Conditions</span></span></span></a>
                </div>
            </div>
        {{/if}}
        {{#if page.title '===' 'Privacy Policy'}}
            <div class="subnav-link">
                <div class="inner button-wrap">
                    <button class="button callout"><span><span><span>Privacy Policy</span></span></span></button>
                </div>
            </div>
        {{else}}
            <div class="subnav-link">
                <div class="inner button-wrap">
                    <a class="button" href="/privacy-policy/"><span><span><span>Privacy Policy</span></span></span></a>
                </div>
            </div>
        {{/if}}
    </div>
</aside>




