<div class="pagination">
    <ul class="pagination-list">
        {{#if previous}}
            <li class="pagination-item pagination-item--previous">
                <a class="pagination-link" href="{{previous}}" data-faceted-search-facet>
                    {{lang 'common.previous'}}
                </a>
            </li>
        {{/if}}

        {{#if this.links.length}}
            <li class="pagination-item"> <a class="pagination-link">{{lang 'common.paginator.page_of' current=this.current total=this.links.length}}</a></li>
        {{else}}
            <li class="pagination-item"> <a class="pagination-link">{{lang 'common.paginator.page_of' current=1 total=1}}</a></li>
        {{/if}}

        {{#if next}}
            <li class="pagination-item pagination-item--next">
                <a class="pagination-link" href="{{next}}" data-faceted-search-facet>
                    {{lang 'common.next'}}
                </a>
            </li>
        {{/if}}
    </ul>
</div>

