{{#if social_media}}
<ul class="socialLinks socialLinks--alt">
    {{#each social_media}}
    <li class="socialLinks-item">
        {{#if display_name '===' 'twitter'}}
        <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank" rel="noindex">
            <i class="sprite sprite-twitter"></i>
            <span style="display: none">Twitter</span>
        </a>
        {{/if}}

        {{#if display_name '===' 'facebook'}}
        <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank" rel="noindex">
            <i class="sprite sprite-facebook"></i>
            <span style="display: none">Facebook</span>
        </a>
        {{/if}}

        {{#if display_name '===' 'pinterest'}}
        <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank" rel="noindex">
            <i class="sprite sprite-pinterest"></i>
            <span style="display: none">Pinterest</span>
        </a>
        {{/if}}

        {{#if display_name '===' 'youtube'}}
        <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank" rel="noindex">
            <i class="sprite sprite-youtube"></i>
            <span style="display: none">Youtube</span>
        </a>
        {{/if}}

        {{#if display_name '===' 'instagram'}}
        <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank" rel="noindex">
            <i class="sprite sprite-instagram"></i>
            <span style="display: none">Instagram</span>
        </a>
        {{/if}}

        {{#if display_name '===' 'linkedin'}}
        <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank" rel="noindex">
            <i class="sprite sprite-linkedin"></i>
            <span style="display: none">Linkedin</span>
        </a>
        {{/if}}

        {{#if display_name '===' 'rss'}}
        <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank" rel="noindex">
            <i class="sprite sprite-rss"></i>
            <span style="display: none">RSS</span>
        </a>
        {{/if}}
    </li>
    {{/each}}
</ul>
{{/if}}
