<div id="yotpo">
    <div class="container-inner">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                    <div class="yotpo yotpo-reviews-carousel"
                    data-background-color="transparent"
                    data-mode="top_rated"
                    data-type="product"
                    data-count="9"
                    data-show-bottomline="1"
                    data-autoplay-enabled="1"
                    data-autoplay-speed="30000"
                    data-show-navigation="1">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
    
