{{#partial "page"}}
{{> components/account/navigation account_page='addresses'}}
<main id="main-content">
    <div class="container-inner">
        <div class="row grid-gutter-vertical">
            <section class="col-md-9 page">
                <div class="page-content">
                    {{> components/account/address-list }}
                </div>
            </section>
            {{> components/account/subnav account_page='addresses'}}
        </div>
    </div>
</main>
{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
