{{#partial "page"}}
{{> components/account/navigation account_page='orders'}}
<main id="main-content">
	<div class="container-inner">
		<div class="row grid-gutter-vertical">
			<section class="col-md-9 page">
				<div class="page-content">
					<figure class="account-sidebar">
						{{#each downloads.images}}
						<img src="{{getImage this}}"
							alt="{{../downloads.product_name}}"
							title="{{../downloads.product_name}}" />
						<figcaption>{{../downloads.product_name}}</figcaption>
						{{/each}}
					</figure>
					<p class="account-downloads-summary">{{lang 'account.orders.downloads.download_files_below'}}<strong>{{downloads.product_name}}</strong></p>
					<ul class="account-downloadsList">
						{{#each downloads.items}}
						<li class="account-downloadsItem">
							{{#if expired}}
							<h5 class="account-downloadsItem-title">{{name}} <span
									class="account-downloadsItem-accent">({{size}})</span></h5>
							<p class="account-downloadsItem-availability">
								{{lang 'account.orders.downloads.expired_content'}}</p>
							{{else}}
							<h5 class="account-downloadsItem-title">
								<a href="{{url}}">{{name}}</a> ({{size}})
							</h5>

							{{#if description}}
							<p class="account-downloadsItem-description">{{description}}</p>
							{{/if}}

							{{#if days_remaining}}
							<p class="account-downloadsItem-availability">
								{{lang 'account.orders.downloads.days_remaining' number=days_remaining}}

								{{#if downloads_remaining}}
								{{lang 'account.orders.downloads.days_or_downloads' number=downloads_remaining}}
								{{/if}}
								{{lang 'account.orders.downloads.remaining'}}
							</p>
							{{else}}
							{{#if downloads_remaining}}
							<p class="account-downloadsItem-availability">
								{{lang 'account.orders.downloads.downloads_remaining' number=downloads_remaining}}
							</p>
							{{/if}}
							{{/if}}
							{{/if}}
						</li>
						{{/each}}
					</ul>
				</div>
				{{> components/account/subnav account_page='orders'}}
			</section>
		</div>
	</div>
</main>
{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
