{{#partial "page"}}
{{> components/account/navigation account_page='returns'}}
<main id="main-content">
	<div class="container-inner">
		<div class="row grid-gutter-vertical">
			<section class="col-lg-9 page">
				<div class="page-content">
				<h2>RETURN POLICY &amp; STANDARD TERMS AND CONDITIONS OF SALE</h2>
				<h3>NO HASSLE RETURNS</h3>
				<p>If for any reason you are not completely satisfied with your Apexfoot.com order, you may return your merchandise within 30 days from the date of purchase.</p>
				<p>Please return merchandise in its original box if possible and include the provided return slip with returns instructions. Unfortunately, we cannot refund your original shipping charge.</p>
				<p>Please allow 10 to 14 business days for your return to be processed. A credit should appear on your credit card within two billing cycles.</p>
				<p>No refunds are available for merchandise returned after the 30-day period.</p>
				<p>Please call 800-252-2739 between the hours of 8:30 a.m. and 5:30 p.m. EST, Monday through Friday for further instruction on returning defective merchandise.</p>
				<p><strong>Warranty:</strong>&nbsp;Apex warrants that upon delivery the Goods will be free from defects in material and workmanship under proper and normal use. Goods shall be considered “defective” if the defect materially impairs the value of the Goods for their intended use to the customer. Apex further warrants that all Goods and services will be produced and furnished in accordance with applicable laws and regulations.</p>
				<p><strong>&nbsp;</strong></p>
				<div class="steps">
					<div class="step">
						<img class="lazyload" src="{{cdn 'webdav:/theme/loading.svg'}}" data-sizes="auto" data-src="{{cdn 'webdav:/returns/returns-step1.png'}}" alt="Returns - Step 1" title="Returns - Step 1" />
						<div class="info">
							<h3>Step 1:</h3>
							<ul>
								<li>Log-in your account <a href="/account.php?action=order_status" target="_blank"> here</a>. Find your order number</li>
								<li>On the packing slip: Look for a 5 digit number under 'Purchase Order'</li>
								<li>In your email: Look at the subject line for a 5 digit number under 'New Order'</li>
							</ul>
						</div>
					</div>
					<div class="step">
						<img class="lazyload" src="{{cdn 'webdav:/theme/loading.svg'}}" data-sizes="auto" data-src="{{cdn 'webdav:/returns/returns-step2.png'}}"  alt="Returns - Step 2" title="Returns - Step 2" />
						<div class="info">
							<h3>Step 2:</h3>
							<ul>
								<li>Select the item(s) you want to return and click return items</li>
							</ul>
						</div>
					</div>
					<div class="step">
						<img class="lazyload" src="{{cdn 'webdav:/theme/loading.svg'}}" data-sizes="auto" data-src="{{cdn 'webdav:/returns/returns-step3.png'}}"  alt="Returns - Step 3" title="Returns - Step 4" />
						<div class="info">
							<h3>Step 3:</h3>
							<ul>
								<li>Print a return authorization packing slip and shipping label here:
									<div class="inner button-wrap">
                    					<a class="button"href="//returnsportal.ohi.net/?unit=1&carrier=1&type=3" target="_blank"><span><span><span>Return Portal</span></span></span></a>
                					</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="step">
						<img class="lazyload" src="{{cdn 'webdav:/theme/loading.svg'}}" data-sizes="auto" data-src="{{cdn 'webdav:/returns/returns-step4.png'}}"  alt="Returns - Step 4" title="Returns - Step 4" />
						<div class="info">
							<h3>Step 4:</h3>
							<ul>
								<li>Please return merchandise in its original box if possible. Don't forget to include your return slip inside the box and place the return label outside the box.</li>
							</ul>
						</div>
					</div>
					<div class="step">
						<img class="lazyload" src="{{cdn 'webdav:/theme/loading.svg'}}" data-sizes="auto" data-src="{{cdn 'webdav:/returns/returns-step5.png'}}"  alt="Returns - Step 5" title="Returns - Step 5" />
						<div class="info">
							<h3>Step 5:</h3>
							<ul>
								<li>Drop off your package at any authorized FedEx dealer or handed to a FedEx driver.</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			{{> components/account/subnav account_page='returns'}}
		</div>
	</div>
</main>
{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
