{{#if items}}
<div class="sidebar-section accordion {{ title }}">
    <h5 class="title">
        <span>{{ title }}</span>
        <i class="fa"></i>
    </h5>

    <div class="content {{ title }}">
        <div id="facetedSearch-content--{{hyphenate facet }}">
            <ul id="facetedSearch-navList--{{hyphenate facet }}" data-facet="{{facet}}" class="navList" data-has-more-results="{{ has_more_results }}">
                {{#each items}}

                    <li class="navList-item">
                        <a   
                            title="{{title}}"                         
                            href="{{ url }}"
                            class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
                            data-faceted-value="{{ title }}"
                            data-faceted-search-facet>
                            {{#if param_name '!==' "Color"}}
                                {{{ title }}}
                            {{/if}}                            
                        </a>
                    </li>

                {{/each}}
            </ul>

            {{#if show_more_toggle}}
                <a href="#facetedSearch-navList--{{hyphenate facet }}" role="button" class="toggleLink">
                    <span class="toggleLink-text toggleLink-text--off">{{lang 'search.faceted.show-more'}}</span>
                </a>
            {{/if}}
        </div>
    </div>
</div>
{{/if}}
