<li class="navList-item">    
    {{#if title '===' 'Black'}}
    <a href="{{ url }}" style="background-color: #000000;" class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}" data-faceted-search-facet></a>
    {{/if}}

    {{#if title '===' 'Blue'}}
    <a href="{{ url }}" style="background-color: #0b639e;"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}

    {{#if title '===' 'Navy'}}
    <a href="{{ url }}" style="background-color: #000080;"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}

    {{#if title '===' 'Green'}}
    <a href="{{ url }}" style="background-color: #008000;"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}
    {{#if title '===' 'Red'}}
    <a href="{{ url }}" style="background-color: #800000;"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}
    {{#if title '===' 'Teal'}}
    <a href="{{ url }}" style="background-color: #008080;"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}
    {{#if title '===' 'Grey'}}
    <a href="{{ url }}" style="background-color: #808080;"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}

    {{#if title '===' 'Dark Grey'}}
    <a href="{{ url }}" style="background-color: #414141;"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}

    {{#if title '===' 'Light Grey'}}
    <a href="{{ url }}" style="background-color: #bdbdbd;"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}

    {{#if title '===' 'Pink'}}
    <a href="{{ url }}" style="background-color: #ff4da6;"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}

    {{#if title '===' 'White'}}
    <a href="{{ url }}" style="background-color: #ffffff;"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}

    {{#if title '===' 'Brown'}}
    <a href="{{ url }}" style="background-color: #4b2b2b;"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}

    {{#if title '===' 'White/Grey'}}
    <a href="{{ url }}" style="background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(97,97,97,1) 48%, rgba(97,97,97,1) 100%)"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}

    {{#if title '===' 'White/Periwinkle'}}
    <a href="{{ url }}"
        style="background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(204,204,255,1) 48%, rgba(204,204,255,1) 100%)"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}

    {{#if title '===' 'Periwinkle'}}
    <a href="{{ url }}"
        style="background-color: rgba(204,204,255,1)"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}

    {{#if title '===' 'Periwinkle'}}
    <a href="{{ url }}" style="background-color: rgba(204,204,255,1)"
        class="navList-action navList-action--checkbox {{ title }} {{#if selected }} is-selected {{/if}}"
        data-faceted-search-facet></a>
    {{/if}}



    White/Periwinkle

</li>
