<footer id="footer">
    <section id="copy">
        <div class="container-inner">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; <span id="copyright_year">{{moment format="YYYY"}}</span>
                        {{settings.store_name}} All Rights Reserved. | 500 Frank W. Burr Blvd. Ste #240 Teaneck, NJ
                        07666 | <a
                            href="tel:{{settings.phone_number }}">{{lang 'footer.call_us' phone_number=settings.phone_number}}</a>
                    </p>
                    <p class="disclaimer">The purpose of this website is to promote broad consumer understanding and
                        knowledge of various health conditions. This website is not intended to diagnose, treat, cure or
                        prevent any disease nor should statements be construed as medical advice. Please consult your
                        healthcare provider should you have specific questions regarding the diagnosis or treatment of
                        any medical condition.</p>


                    <ul class="socialLinks socialLinks--alt">
                        <li class="socialLinks-item">
                            <a class="icon icon--facebook" href="//business.facebook.com/apexfoot/"
                                target="_blank" rel="noindex">
                                <i class="sprite sprite-facebook"></i>
                                <span style="display: none">Facebook</span>
                            </a>
                        </li>
                        <li class="socialLinks-item">
                            <a class="icon icon--twitter" href="//twitter.com/apexfoothealth" target="_blank"
                                rel="noindex">
                                <i class="sprite sprite-twitter"></i>
                                <span style="display: none">Twitter</span>
                            </a>
                        </li>
                        <li class="socialLinks-item">
                            <a class="icon icon--instagram" href="//instagram.com/apexfoothealth" target="_blank"
                                rel="noindex">
                                <i class="sprite sprite-instagram"></i>
                                <span style="display: none">Instagram</span>
                            </a>
                        </li>
                        <li class="socialLinks-item">
                            <a class="icon icon--linkedin"
                                href="//www.linkedin.com/company/apex-foot-health-industries/" target="_blank"
                                rel="noindex">
                                <i class="sprite sprite-linkedin"></i>
                                <span style="display: none">Linkedin</span>
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>
</footer>
