<div class="row">
    <div class="col-lg-12 conditions-list-box">
        <div class="conditions-list-title">DESIGNED BY FOOT HEALTH EXPERTS TO HELP ALLEVIATE PAIN CAUSED
            BY:</div>
        <ul class="conditions-list-list">
            <li><a href="/foot-conditions/bunions-shoes/">BUNIONS</a></li>
            <li><a href="/foot-conditions/plantar-fasciitis-shoes/">PLANTAR FASCIITIS</a></li>
            <li><a href="/foot-conditions/the-diabetic-foot-shoes/">DIABETES</a></li>
            <li><a href="/foot-conditions/hammer-toes-shoes/">HAMMER TOES</a></li>
            <li><a href="/foot-conditions/neuropathy-shoes/">NEUROPATHY</a></li>
            <li><a href="/foot-conditions/arthritis-shoes/">ARTHRITIS</a></li>
            <li><a href="/foot-conditions/mortons-neuroma-shoes/">MORTON’S NEUROMA</a></li>
            <li><a href="/foot-conditions/heel-pain-shoes/">HEEL PAIN</a></li>
        </ul>
    </div>
</div>
