<section class="page-hero" style="background-image: url('{{cdn 'webdav:/navigation/banner-return-policy.jpg'}}');">
    {{#if account_page '===' 'orders'}}
    <h1>Orders</h1>
    {{/if}}
    {{#if account_page '===' 'returns'}}
    <h1>Returns</h1>
    {{/if}}
    {{#if account_page '===' 'messages'}}
    <h1>Messages</h1>
    {{/if}}
    {{#if account_page '===' 'addresses'}}
    <h1>Addresses</h1>
    {{/if}}
    {{#if account_page '===' 'recent_items'}}
    <h1>Recently Viewed</h1>
    {{/if}}
    {{#if account_page '===' 'settings'}}
    <h1>Account Settings</h1>
    {{/if}}
    {{#if account_page '===' 'details'}}
    <h1>Order Details</h1>
    {{/if}}
</section>
