{{#if product_results.products.length}}
<div class="row row-margin-bottom product-layout-container">
    <div class="col-lg-12">
        {{> components/products/filter sort=pagination.product_results.sort}}
    </div>
</div>
{{/if}}

<form action="{{urls.compare}}" method='POST' data-product-compare>
    {{> components/products/grid products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
</form>

{{> components/common/paginator pagination.product_results}}
