---
blog:
    recent_posts:
        limit: 5
---
{{#partial "page"}}
<section class="page-hero" style="background-image: url('{{cdn 'webdav:/page/terms.jpg'}}');">
    <h1>{{page.title}}</h1>
</section>
<main id="main-content" class="{{dashcase page.title}}">
    <div class="container-inner {{dashcase page.title}}">
        <div class="row grid-gutter-vertical">
            <section class="col-lg-12">
               {{{page.content}}}
            </section>
        </div>
    </div>
</main>
{{> components/common/email-signup}}
<script type="text/javascript">
    var google_tag_params = {
        ecomm_pagetype: 'page',
        ecomm_prodid: '',
        ecomm_totalvalue: 0
    };
</script>
{{/partial}}
{{> layout/base}}
