<section class="content-wrap" style="margin-bottom: 1.5em;">
    <div class="row row-centered grid-gutter-vertical">
        <div class="offset-md-4 col-lg-4">                            
            <div style="border: 1px solid #ccc;height: 250px; width: 100%; background-size: cover; background-image: url({{cdn 'webdav:/mbs/MBS-3200M-Qrtr-Profile-Web.jpg'}});"></div>
            <div>
                <div class="buy-now-shoe-make">Apex Balance Shoe (ABS)<!-- - A3200M---></div>
                <div class="button-wrap">
                    <a href="https://www.apexfoot.com/womens/balance-shoes/" class="button buy-now" data-shoe="">Buy Now</a>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-4">
            <div style="border: 1px solid #ccc;height: 250px; width: 100%;background-size: cover; background-image: url({{cdn 'webdav:/mbs/MBS-3200M-Qrtr-Profile-Web.jpg'}});"></div>
            <div>
                <div class="buy-now-shoe-make">Apex Moore Balance Show (MBS) - A3200W</div>
                <div class="button-wrap">
                    <a href="#" class="button buy-now" data-shoe="">Buy Now</a>
                </div>
            </div>                             
        </div> 
        <div class="col-lg-4">
            <div style="border: 1px solid #ccc;height: 250px; width: 100%; background-size: cover; background-image: url({{cdn 'webdav:/mbs/V854M-Qrtr-Profile-Web.jpg'}});"></div>
            <div>
                <div class="buy-now-shoe-make">Men's Boss Runner - X Last - White</div>
                <div class="button-wrap">
                    <a href="#" class="button buy-now" data-shoe="">Buy Now</a>
                </div>
            </div>                            
        </div>-->
    </div>
</section>
