
// remove sales badge feb242022
.sale-tag {
display: none;
}
// Footer
// -----------------------------------------------------------------------------
footer {
    position: relative;
    z-index: 2;
    @import "trust";
    @import 'menu';
    @import 'copy';
    @import 'payment-icons';
}

