<div class="ticker hidden-print">
    <div class="ticker-wrap">
        <!--<a href="#email" class="email" data-lity><span class="env"><i class="sprite sprite-white-envelope"></i></span> Sign up and Save!</a>
        <a href="{{theme_settings.ticker_promotion_link}}" class="ticker-content">
            <p>{{theme_settings.ticker_promotion_text}} {{theme_settings.ticker_promotion_exp}}</p>
        </a>-->
        <span class="email" data-lity>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="/shipping/" class="ticker-content">
            <p class="ticker-content">Important Shipping Update. Click here for more information.<!--We have styles in stock and ready to ship. View our most popular styles.--></p>
        </a>
        <div class="cart-wrap">
            {{> components/header/customer}}
            {{> components/header/cart}}
        </div>
    </div>
</div>
