<div class="shoe-card">
        <div class="product-wrapper">
            <div class="product-image">
                <a href="/mens-natural-fitlite-wool-knit-dark-grey">
                    <div class="card-img-container">
                        <img class="product-image-main" src="https://cdn8.bigcommerce.com/s-dhod3a8/images/stencil/500x659/products/319/2790/A8100M-FitLite_DarkGrey_-_Qrtr_Profile__64206.1537299631.jpg" alt="Men's Natural Fitlite Wool Knit - Dark Grey"
                            title="Men's Natural Fitlite Wool Knit - Dark Grey" style="display: block;" sizes="auto">
                    </div>
                </a>
            </div>
            <div class="product-details">
                <div class="product-details-background"></div>
                <div class="product-details-content">
                    <div class="product-title">
                        <a href="/mens-natural-fitlite-wool-knit-dark-grey">Men's Natural Fitlite Wool Knit - Dark Grey</a>
                    </div>
                    <div class="product-price">
                        <div class="price-section price-section--withoutTax ">
                            <meta itemprop="price" content="144.95">
                            <meta itemprop="priceCurrency" content="">
                            <meta itemprop="availability" content="">
                            <meta itemprop="itemCondition" itemtype="https://schema.org/OfferItemCondition" content="https://schema.org/Condition">
                            <div class="price price--withoutTax ">
                                Price:  $144.95 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/mens-natural-fitlite-wool-knit-dark-grey" class="button">More Details</a>
        </div>
    </div>
