<ul>
   <li class="first"><a href="/all-shoes/"><strong>All Styles</strong></a></li>
    <li><a href="/arch-support-shoes/">Arch Support Shoes</a></li>	
    <li><a href="/athletic-shoes-and-sneakers/">Athletic Shoes and Sneakers</a></li>       
    <li><a href="/apex-balance-shoes/">Balance Shoes</a></li>	
    <li><a href="/boots/">Boots</a></li>
    <li><a href="/braces-afos-shoes/">Braces/AFOs Shoes</a></li>
    <li><a href="/casual-shoes/">Casual Shoes</a></li>
    <li><a href="/diabetic-shoes/">Diabetic Shoes</a></li>  
	<li><a href="/dress-shoes/">Dress Shoes</a></li>
    <li><a href="/extra-depth-shoes/">Extra-Depth Shoes</a></li> 
    <li><a href="/heel-strap-shoes/">Heel Strap Shoes</a></li>	
    <li><a href="/hiking-shoes/">Hiking Shoes</a></li>  	
    <li><a href="/orthopedic-shoes/">Orthopedic Shoes</a></li>                
    <li><a href="/slip-resistant-shoes/">Slip Resistant Shoes</a></li>  	
    <li><a href="/strap-closure-shoes/">Strap Closure Shoes</a></li> 
    <li><a href="/stretch-shoes/">Stretch Shoes</a></li>  
    <li><a href="/tie-less-closure-shoes/">Tie-Less Closure Shoes</a></li>      
    <li><a href="/therapeutic-shoes/">Therapeutic Shoes</a></li>                              
    <li><a href="/walking-shoes/">Walking Shoes</a></li>	
    <li><a href="/wide-extra-wide-shoes/">Wide/Extra Wide Shoes</a></li> 	
	<li><a href="/work-shoes/">Work Shoes</a></li> 
    <li><a href="shoe-sizing-chart/">Shoe Sizing Chart</a></li>
</ul>
