{{#partial "page"}}
<section class="page-hero" style="background-image: url({{cdn 'webdav:/page/terms.jpg'}});">
    <h1>Gift Certificates<h1>
	<h2>{{lang 'gift_certificate.purchase.heading'}}</h2>
</section>
<main id="main-content">
	<div class="container-inner {{dashcase page.title}}">
		<div class="row">
			<div class="content-container col-md-9">
				<div class="row" style="padding-top: 2rem; padding-bottom: 4rem;">
					<div class="col-md-10 offset-md-1">
						<form class="form gift-certificate-form" method="post" id="gift-certificate-form" action="{{forms.gift_certificate.action}}">
								{{#if forms.gift_certificate.cart_item_id}}
									<input type="hidden" name="cartitemid" value="{{forms.gift_certificate.cart_item_id}}">
								{{/if}}
								<div class="row">
									<div class="form-field col form-field-group">
										<small style="display: block;">* Indicates a required field</small>
										<h3>Choose a gift certificate theme</h3>
										<label class="form-label block">
											{{lang 'forms.gift_certificate.purchase.theme' }} *
										</label>
										{{#each forms.gift_certificate.themes}}
											<div class="radio-group">
												<input type="radio" class="form-radio" name="certificate_theme" id="theme_{{this.value}}" value="{{this.value}}"{{#if this.value '==' ../forms.gift_certificate.values.theme}} checked{{/if}}>
												<label class="form-label show" for="theme_{{this.value}}">{{this.display}}</label>
											</div>
										{{/each}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<h3>Your information</h3>
									</div>
									<div class="form-field col-md-6">
										<label class="form-label" for="from_name">
											{{lang 'forms.gift_certificate.purchase.from_name' }}
										</label>
										<input type="text" class="form-input" name="from_name" id="from_name" value="{{forms.gift_certificate.values.from_name}}" placeholder="{{lang 'forms.gift_certificate.purchase.from_name' }} *">
									</div>
									<div class="form-field col-md-6">
										<label class="form-label" for="from_email">
											{{lang 'forms.gift_certificate.purchase.from_email' }}
										</label>
										<input type="text" class="form-input" name="from_email" id="from_email" value="{{forms.gift_certificate.values.from_email}}" placeholder="{{lang 'forms.gift_certificate.purchase.from_email' }} *">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<h3>Recipient information</h3>
									</div>
									<div class="form-field col-md-6">
										<label class="form-label" for="to_name">
											{{lang 'forms.gift_certificate.purchase.to_name' }}
										</label>
										<input type="text" class="form-input" name="to_name" id="to_name" value="{{forms.gift_certificate.values.to_name}}" placeholder="{{lang 'forms.gift_certificate.purchase.to_name' }} *">
									</div>
									<div class="form-field col-md-6">
										<label class="form-label" for="to_email">
											{{lang 'forms.gift_certificate.purchase.to_email' }}
										</label>
										<input type="text" class="form-input" name="to_email" id="to_email" value="{{forms.gift_certificate.values.to_email}}" placeholder="{{lang 'forms.gift_certificate.purchase.to_email' }} *">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<h3>Gift Amount</h3>
										<p>Note: Please do not include a currency symbol.</p>
									</div>
									<div class="form-field col-md-12">
										<label class="form-label" for="certificate_amount">
											{{lang 'forms.gift_certificate.purchase.amount' }}
										</label>
										<input type="text" data-min="{{forms.gift_certificate.minimum.value}}" data-max="{{forms.gift_certificate.maximum.value}}" data-min-formatted="{{forms.gift_certificate.minimum.formatted}}" data-max-formatted="{{forms.gift_certificate.maximum.formatted}}" class="form-input" name="certificate_amount" id="certificate_amount" value="{{forms.gift_certificate.values.amount.value}}" placeholder="{{lang 'forms.gift_certificate.purchase.amount' }} *">
									</div>
								</div>
								<div class="row">
									<div class="form-field col-md-12">
										<label class="form-label" for="message">{{lang 'forms.gift_certificate.purchase.message' }}</label>
										<textarea class="form-input" name="message" id="message" rows="8" placeholder="{{lang 'forms.gift_certificate.purchase.message' }}">{{forms.gift_certificate.values.message}}</textarea>
									</div>
								</div>
								<div class="form-actions">
									<div class="form-field">
										<input type="checkbox" class="form-checkbox" name="agree2" id="agree2"{{#if forms.gift_certificate.editing}} checked{{/if}}>
										<label class="form-label show" for="agree2">{{lang 'forms.gift_certificate.purchase.agree2' }}</label>
									</div>
									{{inject 'previewError' (lang 'forms.gift_certificate.purchase.preview_error')}}
									{{inject 'enterAmount' (lang 'forms.validate.gift.amount')}}
									{{inject 'toName' (lang 'forms.validate.gift.to_name')}}
									{{inject 'toEmail' (lang 'forms.validate.gift.to_email')}}
									{{inject 'fromName' (lang 'forms.validate.gift.from_name')}}
									{{inject 'fromEmail' (lang 'forms.validate.gift.from_email')}}
									{{inject 'certTheme' (lang 'forms.validate.gift.cert_theme')}}
									{{inject 'agreeToTerms' (lang 'forms.validate.gift.agree_terms')}}
									<div class="button-wrap">
										<button id="gift-certificate-preview" class="button" type="submit" data-preview-url="{{forms.gift_certificate.preview}}"><span><span><span>Preview</span></span></span></button>
										<button id="gift-certificate-submit" class="button" type="submit" data-preview-url="{{forms.gift_certificate.preview}}"><span><span><span>Add Gift Certificate to Cart</span></span></span></button>
									</div>
								</div>
						</form>
					</div>
				</div>
			</div>
			{{> components/gift-certificate/navigation gift_page='purchase'}}
		</div>
	</div>
</main>
{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
