{{#partial "page"}}
<section class="page-hero" style="background-image: url({{cdn 'webdav:/page/contact-us.jpg'}});">
	<h1>Gift Certificates<h1>
	<h2>{{lang 'gift_certificate.redeem.heading'}}</h2>
</section>
<main id="main-content">
	<div class="container-inner {{dashcase page.title}}">
		<div class="row grid-gutter-vertical">
			<div class="content-container col-md-9">
				<div class="page-content page-content--centered" style="padding-top: 2rem;">
					<div class="account">
						<h3>{{lang 'gift_certificate.redeem.heading'}}</h3>
						<p><strong>{{lang 'gift_certificate.redeem.intro' store_name=settings.store_name }}</strong></p>
						<ol>
							<li>{{lang 'gift_certificate.redeem.item1' }}</li>
							<li>{{lang 'gift_certificate.redeem.item2' }}</li>
							<li>{{{lang 'gift_certificate.redeem.item3' cart_url=urls.cart }}}</li>
							<li>{{lang 'gift_certificate.redeem.item4' }}</li>
						</ol>
					</div>
				</div>
			</div>
			{{> components/gift-certificate/navigation gift_page='redeem'}}
		</div>
	</div>
</main>
{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
