<section id="copy">
    <div class="container-inner">
        <div class="row">
            <div class="col-md-12">
                {{> components/footer/payment-icons}}
                <p>Copyright &copy; <span id="copyright_year">{{moment format="YYYY"}}</span> {{settings.store_name}} All Rights Reserved. | 4825 East Ingram Street Mesa, Arizona 85205-3212, USA | <a href="tel:{{settings.phone_number }}">{{lang 'footer.call_us' phone_number=settings.phone_number}}</a></p>
                <p class="disclaimer">The purpose of this website is to promote broad consumer understanding and knowledge of various health conditions. This website is not intended to diagnose, treat, cure or prevent any disease nor should statements be construed as medical advice. Please consult your healthcare provider should you have specific questions regarding the diagnosis or treatment of any medical condition.</p>
                {{> components/common/social-links}}
                <div class="clear"></div>
            </div>
        </div>
    </div>
</section>
