{{#partial "page"}}
<section class="page-hero" style="background-image: url('{{cdn 'webdav:/page/terms.jpg'}}');">
	<h1>Forgot password</h1>
</section>
<main id="main-content">
    <div class="container-inner">
        <div class="row grid-gutter-vertical">
            <section class="account-container col-md-6 offset-md-3">
                <p style="text-align: center">{{lang 'reset_password.intro' }}</p>
                {{#if forms.forgot_password.error}}
                {{> components/common/alert-error forms.forgot_password.error}}
                {{/if}}
                <form action="{{urls.auth.send_password_email}}" class="form forgot-password" method="post">
                    {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
                    <div class="form-field">
                        <label class="form-label" for="email">{{lang 'common.email_address'}}</label>
                        <input class="form-input" name="email" id="email" type="email" formnovalidate>
                    </div>
                    <div class="form-actions button-wrap">
                        <button class="button" type="submit"><span><span><span>{{lang 'reset_password.heading' }}</span></span></span></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>
{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
