  <!-- <section class="hero-container" onclick="window.location='//apexfoot.com/most-popular-shoes'">
  <div class="main-title">
        <h1 itemprop="name"><span>Welcome To</span> Apex</h1>
        <h2 itemprop="description">Relief from Foot Pain So You Can Stay Active</h2>
        <div class="button-wrap">
            <a href="/womens/view-all-shoes" class="button callout"><span><span><span>Shop Women's</span></span></span></a>
            <a href="/mens/view-all-shoes" class="button callout"><span><span><span>Shop Men's</span></span></span></a>
        </div> 
    </div>
</section>-->
<p>&nbsp;</p>
<p>&nbsp;</p>
<a href="/most-popular-shoes/"><img src="//cdn11.bigcommerce.com/s-vp860a1bly/product_images/uploaded_images/apex-homepage-banner-1200x300.jpg?t=1630523724" style="max-width:100%;"></a>
