<!-- <section class="hero-container" onclick="window.location='//apexfoot.com/most-popular-shoes'">
    <div class="main-title">
        <h1 itemprop="name"><span>Welcome To</span> Apex</h1>
        <h2 itemprop="description">Relief from Foot Pain So You Can Stay Active</h2>
        <div class="button-wrap">
            <a href="/womens/view-all-shoes" class="button callout"><span><span><span>Shop Women's</span></span></span></a>
            <a href="/mens/view-all-shoes" class="button callout"><span><span><span>Shop Men's</span></span></span></a>
        </div>
    </div>
</section>-->

<div class="desktopshow">
<a href="/most-popular-shoes/"><img src="//cdn11.bigcommerce.com/s-dhod3a8/product_images/uploaded_images/apex-hero-banner-evergreen.jpg" style="max-width:100%;vertical-align:middle;margin:5px 0px;" alt="Shop Apex Shoes"></a>
</div>

<div class="mobileshow">
<a href="/most-popular-shoes/"><img src="//cdn11.bigcommerce.com/s-dhod3a8/product_images/uploaded_images/apex-hero-banner-evergreen-mobi.jpg" style="max-width:100%;" alt="Shop Apex Shoes"></a>
</div>
