<ul class="top-menu">
    <li class="search">
        {{> components/header/search}}
    </li>
    <li class="home">
        <a href="/"><i class="sprite sprite-black-home"></i><span>Home</span></a>
    </li>
    <li data-id="women" class="top">
        <a class="top">Shop Women's <span class="toggle"><i class="sprite sprite-black-plus"></i></span></a>
        {{> components/header/submenu/shop-womens}}
    </li>
    <li data-id="men" class="top">
        <a class="top">Shop Men's <span class="toggle"><i class="sprite sprite-black-plus"></i></span></a>
        {{> components/header/submenu/shop-mens}}
    </li>
    <li>
        <a class="toplink" href="/sale/">Sale</a>
    </li>
    <li data-id="accessories" class="top">
        <a class="top">Accessories <span class="toggle"><i class="sprite sprite-black-plus"></i></span></a>
        {{> components/header/submenu/foot-accessories}}
    </li>
    <li data-id="foot" class="top">
        <a class="top">Foot Health <span class="toggle"><i class="sprite sprite-black-plus"></i></span></a>
        {{> components/header/submenu/foot-health}}
    </li>
    
    {{#if customer}}
    <li class="customer" class="top">
        <a class="top">{{lang 'common.account'}} <span class="toggle"><i class="sprite sprite-black-plus"></i></span></a>
        <ul class="submenu">
            <li>
                <ul>
                    <li>
                        <a href="{{urls.account.orders.all}}" rel="noindex">{{lang 'account.nav.orders'}}</a>
                    </li>
                    <li>
                        <a href="{{urls.account.details}}" rel="noindex">{{lang 'account.nav.settings'}}</a>
                    </li>
                    <li>
                        <a  href="{{urls.auth.logout}}" rel="noindex">{{lang 'common.logout'}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    {{else}}
    <li class="customer">
        <a href="{{urls.auth.login}}" rel="noindex">{{lang 'common.login'}}</a>
    </li>
    {{/if}}
</ul>

