.breakout {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    h2 {
        font-size: 2rem;
        font-weight: normal;
        text-transform: uppercase;
        color: $teal;
    }
    h3 {

    }
    p {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
