#testimonials {
    .testimonial {
        border: 4px solid $teal; 
        padding: 2rem; 
        background: $white; 
        margin-bottom: 2rem; 
        height: 100%;
        @media screen and (max-width: 767px) {
            height: auto;
        }
    }
}
