<a name="about" class="page-link"></a>
<section class="wrapper">
	<div class="container about">
		<header class="major">	
			<h2>Our <span>Story</span></h2>
		</header>
		<div class="row">
			<div class="12u">
				<p>OHI is the global leader in technologies and treatment options for conditions associated with the lower extremities. OHI incorporates a global family of brands, including The Orthotic Group (TOG), Langer Biomechanics, Arizona Foot Orthotics, Apex Footwear and Australian Orthotic Group to name a few. In February 2016 OHI acquired Feet 24 7 and established a new company called OHI International in order to bring their products directly to the practitioner in Europe, enabling them to become more competitive and responsive in the market place.</p>
				<p>OHI International is dedicated to providing the highest level of clinical support and customer service. We are a small team headed by myself, a podiatrist with a PhD in biomechanics and 23 years experience in treatment, research and orthotics manufacture. We don’t have a lot of employees, but we have a great team, and treat your business as our business. I look forward to working with you in the future and thank you for trusting us with your business in the past.</p>
				<p>Kind regards,</p>
                <p class="signature">Dr. Paul Barrett</p>
                <p class="sig-title">Vice President, OHI International</p>
                <a href="{{ site.baseurl }}/about/meet-our-staff.html" class="button">Meet Our Staff</a>
			</div>
		</div>
	</div>
</section>

<section class="hero about">
	<img src="{{ site.baseurl }}/images/ohi-western-europe.jpg" />
</section>