<!-- Header -->
<header id="main-header">
	<div class="header-wrapper">
		<h1><a href="{{ site.baseurl }}/" class="site-title" ><img src="{{ site.baseurl }}/images/ohi-international-logo.png" /></a></h1>
		<label for="show-menu" class="mobile-menu"><i class="fa fa-bars" aria-hidden="true"></i></label>
		<input type="checkbox" id="show-menu" role="button">
		<nav>
			<ul>
				<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
				<li>
					<label for="product-menu"><a href="{{ site.baseurl }}/products/orthotics/index.html">Products</a></label>
					<input type="checkbox" id="product-menu" role="button">
					<ul>
						<label for="product-menu" class="nav-return">&larr;</label>
						<li>
							<label for="technology-menu"><a href="{{ site.baseurl }}/products/technology/index.html">Technology</a></label>
							<input type="checkbox" id="technology-menu" role="button">
							<ul>
								<label for="technology-menu" class="nav-return">&larr;</label>
								<li><a href="{{ site.baseurl }}/products/technology/gaitscan/index.html">GaitScan</a></li>
								<li><a href="{{ site.baseurl }}/products/technology/ohi1scan/index.html">OHI1Scan</a></li>
							</ul>
						</li>
						<li>
							<label for="orthotics-menu"><a href="{{ site.baseurl }}/products/orthotics/inserts/index.html">Functional Orthoses</a></label>
							<input type="checkbox" id="orthotics-menu" role="button">
							<ul>
								<label for="orthotics-menu" class="nav-return">&larr;</label>
								<li><a href="{{ site.baseurl }}/products/orthotics/inserts/index.html">Functional Orthoses</a></li>
								<li><a href="{{ site.baseurl }}/products/orthotics/modifications/index.html">Modifications<br/> &amp; Additions</a></li>
								<li><a href="{{ site.baseurl }}/products/orthotics/top-covers/index.html">Top Covers</a></li>
							</ul>
						</li>
						<li><a href="{{ site.baseurl }}/products/prefabricated-orthotics/index.html">Prefabricated Orthotics</a></li>
					</ul>
				</li>
				<li>
					<label for="education-menu"><a href="{{ site.baseurl }}/#education">Education</a></label>
					<input type="checkbox" id="education-menu" role="button">
					<ul>
						<label for="education-menu" class="nav-return">&larr;</label>
						<li><a href="{{ site.baseurl }}/education/webinars.html">Webinars</a></li>
						<li><a href="{{ site.baseurl }}/education/seminars.html">Seminars</a></li>
						<li><a href="//ohi.net/MarketingPortal/login.html">Practice Accelerator</a></li>
					</ul>
				</li>
				<li><a href="{{ site.baseurl }}/downloads/index.html">Downloads</a></li>
				<li>
					<label for="about-menu"><a href="{{ site.baseurl }}/#about">About</a></label>
					<input type="checkbox" id="about-menu" role="button">
					<ul>
						<label for="about-menu" class="nav-return">&larr;</label>
						<li><a href="{{ site.baseurl }}/#about">About Us</a></li>
						<li><a href="{{ site.baseurl }}/about/meet-our-staff.html">Meet Our Staff</a></li>
						<li><a href="{{ site.baseurl }}/privacy-policy.html">Privacy Policy</a></li>
					</ul>
				</li>
				<li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
			</ul>
		</nav>
        <a href="tel:02886747074" class="phone-link"><i class="fa fa-phone"></i>&nbsp;&nbsp;028 867 47074</a>
	</div>
</header>
