{{#partial "page"}}
<main id="main-content" style="padding-top: 8rem">
    <section>
        <div class="container-inner">
            <div class="row">
                <div class="account-container col-xl-10 offset-xl-1 center">
                    <h1>{{lang 'create_account.created.heading'}}</h1>
                    <p>Thank you for becoming an Apex Insider. Every purchase you make will earn you points towards shoes, socks and other foot health products on apexfoot.com.<br /> Details about your account have been emailed to {{{customer.email}}}</p> 
                    <div class="form-actions button-wrap">
                        <a href="{{create_account.continue_url}}" class="button"><span><span><span>{{lang 'create_account.created.continue'}}</span></span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
