{{#partial "page"}}
<section class="page-hero" style="background-image: url('{{cdn 'webdav:/page/terms.jpg'}}');">
	<h1>Login to your account</h1>
</section>
<main id="main-content">
	<div class="container-inner">
		<div class="row grid-gutter-vertical">
			<section class="account-container col">
				<div class="row">
					<div class="col-lg-12">
						{{#if forms.login.error}}
							{{> components/common/alert-error forms.login.error}}
						{{/if}}
						{{#if forms.login.success}}
							{{> components/common/alert-success forms.login.success}}
						{{/if}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 offset-md-1">
						<h3>{{lang 'login.heading' }}</h3>
						<form class="form login-form" action="{{urls.auth.check_login}}" method="post">
							{{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
							{{inject 'enterPass' (lang 'forms.validate.common.password')}}
							<div class="form-field">
								<label class="form-label" for="login_email">{{lang 'login.field_email'}}</label>
								<input class="form-input" name="login_email" id="login_email" type="email">
							</div>
							<div class="form-field">
								<label class="form-label" for="login_pass">{{lang 'login.field_password'}}</label>
								<input class="form-input" id="login_pass" type="password" name="login_pass">
							</div>
							<div class="form-actions button-wrap">
								<button type="submit" class="button"><span><span><span>{{lang 'login.submit_value' }}</span></span></span></button>
								<a class="forgot-password button" href="{{urls.auth.forgot_password}}"><span><span><span>{{lang 'login.forgot_password' }}</span></span></span></a>
							</div>
						</form>
					</div>
					<div class="col-md-5">
						<h3>{{lang 'login.new_customer.heading' }}</h3>
						<p class="new-customer-intro">{{lang 'login.new_customer.intro' }}</p>
						<ul class="new-customer-fact-list">
							<li class="new-customer-fact">{{lang 'login.new_customer.fact1' }}</li>
							<li class="new-customer-fact">{{lang 'login.new_customer.fact2' }}</li>
							<li class="new-customer-fact">{{lang 'login.new_customer.fact3' }}</li>
							<li class="new-customer-fact">{{lang 'login.new_customer.fact4' }}</li>
							<li class="new-customer-fact">{{lang 'login.new_customer.fact5' }}</li>
						</ul>
						<div class="form-actions button-wrap">
							<a class=" button" href="{{urls.auth.create_account}}"><span><span><span>{{lang 'login.new_customer.create_account' }}</span></span></span></a>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</main>
{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
