{{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "page"}}
<main id="main-content">
    <div class="container-inner">
        <div class="row grid-gutter-vertical">
            <div class="account-container col-xl-10 offset-xl-1">

                <p>{{forms.new_password.requirements}}</p>
                {{#if forms.new_password.error}}
                {{> components/common/alert-error forms.new_password.error}}
                {{/if}}
                <form action="{{forms.new_password.submit_url}}" class="form new-password-form" method="post">
                    <div class="form-row">
                        <div class="form-field">
                            <label class="form-label" for="password">
                                {{lang 'forms.new_password.password' }}
                                <small>{{lang 'common.required' }}</small>
                            </label>
                            <input type="password" class="form-input" name="password" id="password">
                        </div>
                        <div class="form-field">
                            <label class="form-label" for="password_confirm">
                                {{lang 'forms.new_password.password2' }}
                                <small>{{lang 'common.required' }}</small>
                            </label>
                            <input type="password" class="form-input" name="password_confirm" id="password_confirm">
                        </div>
                    </div>
                    <div class="form-actions button-wrap">
                        <button class="button button--primary" type="submit"><span><span><span>{{lang 'forms.new_password.submit_value' }}</span></span></span></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>
{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
