---
blog:
    recent_posts:
        limit: 25
        pages: 3
        summary: 200
---
{{#partial "page"}}
<section class="page-hero" style="background-image: url('{{getImage blog.post.thumbnail}}?imbypass=on');">
    <span class="blog-meta blog-meta-date blog-date">{{blog.post.date_published}}</span>
    <h1>{{blog.post.title}}</h1>
    <div class="blog-info">
        {{#if blog.post.author}}
        <span class="blog-meta blog-meta-author">{{lang 'blog.posted_by' name=blog.post.author}}</span>
        {{/if}}
        {{#if show_tags}}
        {{#if blog.post.tags}}
        <span class="blog-meta blog-meta-category"> In {{#each blog.post.tags}}{{#if @first}}<a
                href="{{url}}"> {{name}}</a>{{else}}<a href="{{url}}">,
                {{name}}</a>{{/if}}{{/each}}</span>
        {{/if}}
        {{/if}}
    </div>
</section>



<main id="main-content" class="single-post">
    <div class="container-inner">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {{> components/blog/post post=blog.post show_tags=false}}
            </div>
            <div class="col-md-2"></div>
        </div>


        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><hr style="width:100%;text-align:center;"></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col"><a class="blog-tags" href="/blog/tag/Foot Conditions">Foot Conditions</a></div>
            <div class="col"><a class="blog-tags" href="/blog/tag/news">Lifestyle</a></div>  
            <div class="col"><a class="blog-tags" href="/blog/tag/news">Health</a></div>  
            <div class="col"><a class="blog-tags" href="/blog/tag/news">Health</a></div>  
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col"><a class="blog-tags" href="/blog/tag/Foot Conditions">Foot Conditions</a></div>
            <div class="col"><a class="blog-tags" href="/blog/tag/news">Lifestyle</a></div>  
            <div class="col"><a class="blog-tags" href="/blog/tag/news">Health</a></div>  
            <div class="col"><a class="blog-tags" href="/blog/tag/news">Health</a></div>  
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>        
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col"><a class="blog-tags" href="/blog/tag/Foot Conditions">Foot Conditions</a></div>
            <div class="col"><a class="blog-tags" href="/blog/tag/news">Lifestyle</a></div>  
            <div class="col"><a class="blog-tags" href="/blog/tag/news">Health</a></div>  
            <div class="col"><a class="blog-tags" href="/blog/tag/news">Health</a></div>  
            <div class="col-md-2">&nbsp;</div>
        </div>      
    </div>
</main>

{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
