---
products:
    new:
        limit: 8
    featured:
        limit: 12
    top_sellers:
        limit: 8
blog:
    recent_posts:
        limit: 5
---
{{#partial "page"}}
{{> components/home/hero}}
<main id="main-content">
  {{{snippet 'home_content'}}}
  {{> components/home/sales-trust}}
  {{> components/home/featured-products}}
  {{> components/home/new-product}}
  {{> components/home/new-products}}
  {{> components/common/yotpo}}
  {{> components/common/email-signup}}
  {{> components/home/description}}
  {{> components/home/blogs}}
</main>
{{/partial}}
{{> layout/base}}
