<div style="border: 1px solid #000; padding: 1em 1em 0 1em">
    <div class="container-inner">
        <div class="row align-items-center">
            <div class="col" style="margin-bottom: 1em">
                <img class="lazyload" src="{{cdn 'webdav:/theme/loading.svg'}}" data-sizes="auto" data-src="{{cdn 'webdav:/trust/icon-shipping.svg'}}" alt="Free Shipping" title="Free Shipping" width="75" height="75" style="width: 95px; height: auto; float: left; margin-right: 1em" />
        
                <h3 style="margin: .5em 0 0;">Free Shipping</h3>
                <p style="margin: 0;">Now offering free shipping.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col"style="margin-bottom: 1em">
                <img class="lazyload" src="{{cdn 'webdav:/theme/loading.svg'}}" data-sizes="auto" data-src="{{cdn 'webdav:/trust/icon-satisfaction.svg'}}" alt="Satisfaction Guaranteed" title="Satisfaction Guaranteed" width="75" height="75" style="width: 95px; height: auto; float: left; margin-right: 1em" />
                <h3 style="margin: .5em 0 0;">Satisfaction Guaranteed</h3>
                <p style="margin: 0;">Hassle-Free Returns.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col" style="margin-bottom: 1em">
                <img class="lazyload" src="{{cdn 'webdav:/theme/loading.svg'}}" data-sizes="auto" data-src="{{cdn 'webdav:/trust/icon-health.svg'}}" alt="About Apex" title="About Apex" width="75" height="75" style="width: 95px; height: auto; float: left; margin-right: 1em" />
                <h3 style="margin: .5em 0 0;">About Apex</h3>
                <p style="margin: 0;">Learn why Apexfoot is like no other shoe company.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col" style="margin-bottom: 1em">
                <img class="lazyload" src="{{cdn 'webdav:/theme/loading.svg'}}" data-sizes="auto" data-src="{{cdn 'webdav:/trust/icon-question.svg'}}" alt="Do you have questions?" title="Do you have questions?" width="75" height="75" style="width: 95px; height: auto; float: left; margin-right: 1em" />
                <h3 style="margin: .5em 0 0;">Do you have questions?</h3>
                <p style="margin: 0;">An expert can answer your questions.</p>
            </div>
        </div>
    </div>
</div>
