<ul class="fifty">
    <li class="first"><a href="/foot-conditions/"><strong>All Foot Conditions</strong></a></li>
    <li><a href="/foot-conditions/achilles-tendinitis-shoes/">Achilles Tendonitis</a></li>
    <li><a href="/foot-conditions/arthritis-shoes/">Arthritis</a></li>
    <li><a href="/foot-conditions/athletes-foot-shoes/">Athlete's Foot</a></li>
    <li><a href="/foot-conditions/bunions-shoes/">Bunions</a></li>
    <li><a href="/foot-conditions/calluses-shoes/">Calluses</a></li>
    <li><a href="/foot-conditions/claw-toes-shoes/">Claw Toes</a></li>
    <li><a href="/foot-conditions/corns-shoes/">Corns</a></li>
    <li><a href="/foot-conditions/the-diabetic-foot-shoes/">Diabetic Foot</a></li>
    <li><a href="/foot-conditions/flat-feet-shoes/">Flat Feet</a></li>
    <li><a href="/foot-conditions/hammer-toes-shoes/">Hammer Toes</a></li>
    <li><a href="/foot-conditions/heel-fissures-shoes/">Heel Fissures</a></li>
</ul>
<ul class="fifty">
    <li><a href="/foot-conditions/heel-pain-shoes/">Heel Pain</a></li>
    <li><a href="/foot-conditions/heel-spurs-shoes/">Heel Spurs</a></li>
    <li><a href="/foot-conditions/ingrown-toenails-shoes/">Ingrown Toenails</a></li>
    <li><a href="/foot-conditions/metatarsalgia-shoes/">Metatarsalgia</a></li>
    <li><a href="/foot-conditions/mortons-neuroma-shoes/">Morton's Neuroma</a></li>
    <li><a href="/foot-conditions/mortons-toe-shoes/">Morton's Toe</a></li>
    <li><a href="/foot-conditions/neuropathy-shoes/">Neuropathy</a></li>
    <li><a href="/foot-conditions/plantar-fasciitis-shoes/">Plantar Fasciitis</a></li>
    <li><a href="/foot-conditions/post-tib-tendonitis-shoes/">Post-Tib Tendonitis</a></li>
    <li><a href="/foot-conditions/sesamoiditis-shoes/">Sesamoiditis</a></li>
    <li><a href="/foot-conditions/shin-splints-shoes/">Shin Splints</a></li>
    <li><a href="/foot-conditions/toenail-fungus-shoes/">Toenail Fungus</a></li>
</ul>
