<ul>
    <li><a href="/mens/new-arrivals/"><span class="new">New </span>Arrivals</a></li>
    <li><a href="/mens/most-popular-shoes/">Most Popular</a></li>
    <li><a href="/mens/best-selling-boots/">Boots Best Sellers</a></li>
    <li><a href="/mens/fitlite-shoe-collection/">Fitlite Shoe Collection</a></li>
    <li><a href="/mens/best-selling-biomechanical-shoes/">Biomechanical - Conform Best Sellers</a></li>
    <li><a href="/lace-walker-shoe-collection/">Lace Walker Collection</a></li>
    <li><a href="/mens/compression-socks-hosiery/"><span class="new">New </span>Compression Socks & Hosiery</a></li>
    <li><a href="/mens/sale-shoes/">Sale</a></li>
</ul>
