<ul>
    <li><a href="/womens/new-arrivals/"><span class="new">New </span>Arrivals</a></li>
    <li><a href="/womens/most-popular-shoes/">Most Popular</a></li>
    <li><a href="/womens/petals-shoes-collection/">Petals Shoes Collection</a></li>
    <li><a href="/womens/fitlite-shoe-collection/">Fitlite Shoes Collection</a></li>
    <li><a href="/womens/best-selling-biomechanical-shoes/">Biomechanical - Conform Best Sellers</a></li>
    <li><a href="/lace-walker-shoe-collection/">Lace Walker Collection</a></li>
    <li><a href="/womens/compression-socks-hosiery/"><span class="new">New </span>Compression Socks & Hosiery</a></li>
    <li><a href="/womens/sale-shoes/">Sale</a></li>
</ul>
