---
cart: true
---
{{#partial "page"}}
<section class="page-hero" style="background-image: url({{cdn 'webdav:/page/shipping.jpg'}});">
    <h1 data-cart-page-title>{{lang 'cart.label' quantity=cart.quantity}}</h1>
</section>
<main id="main-content">
    <div class="container-inner cart-container" style="padding-top: 2em">
        <div class="row rid-gutter-vertical row-eq-height cart-wrapper">
            <div class="col-lg-9">
                <div data-cart-status class="notification">
                    {{> components/cart/status-messages}}
                </div>
                {{#if cart.items.length}}
                    <div data-cart-content>
                        {{> components/cart/content}}
                    </div>
                {{else}}
                    <h3>{{lang 'cart.checkout.empty_cart'}}</h3>
                {{/if}}
                {{{snippet 'cart'}}}
            </div>
            <div class="col-lg-3">
                <div class="cart-total-wrapper">
                    <div data-cart-totals>
                        {{> components/cart/totals}}
                    </div>
                    {{#if cart.show_primary_checkout_button}}
                        <div class="cart-actions button-wrap">
                            <a class="button callout alt" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}"><span><span><span>
                                {{lang 'cart.checkout.button'}}</span></span></span></a>
                            {{#if cart.show_multiple_address_shipping}}
                            <a class="checkoutMultiple button callout alt" href="{{urls.checkout.multiple_address}}">
                                    <span><span><span>
                                {{lang 'cart.preview.checkout_multiple'}}
                            </span></span></span>
                            </a>
                            {{/if}}
                        </div>
                    {{else}}
                        <div class="cart-actions button-wrap">
                            <a class="button" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}"><span><span><span>{{lang 'cart.continue_shopping'}}</span></span></span></a>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</main>
{{> components/common/email-signup}}
<script type="text/javascript">
    var cartproductids = cartproductids || [];
    var google_tag_params = {
        ecomm_pagetype: 'cart',
        ecomm_prodid: cartproductids,
        ecomm_totalvalue: Number('%%GLOBAL_CartTotal%%'.replace(/[^0-9. ]/g, '').trim())
    };

</script>
{{/partial}}
{{> layout/base}}
