{{#partial "page"}}
<section class="page-hero" style="background-image: url({{cdn 'webdav:/page/contact-us.jpg'}});">
    <h1>Contact Us</h1>
</section>
<main id="main-content">
    <div class="container-inner {{dashcase page.title}}">
        <div class="row ">
            <section class="col-md-9 page">
                <div class="page-content">
                    {{#if forms.contact.success}}
                        {{{lang 'forms.contact_us.successful' shopPath=urls.home}}}
                    {{else}}
                        {{{page.content}}}
                        {{> components/page/contact-us-form}}
                    {{/if}}
                </div>
            </section>
            {{> components/common/info-nav}}
        </div>
    </div>
</main>
{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
