.orders {
    .order {
        border-bottom: 1px solid $darkgrey;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .status {
            p {
                margin: 0;
                span {
                    font-weight: bold;
                }
            }
        }
        &:nth-of-type(even){
            background: $lightgrey;
        }
    }
}
