{{{json faceted_search}}}
<div id="facetedSearch" class="facetedSearch sidebarBlock">
    {{> components/faceted-search/selected-facets this.selected}}

    <a href="#facetedSearch-navList" role="button" class="facetedSearch-toggle toggleLink" data-collapsible>
        <span class="facetedSearch-toggle-text">
            {{#if facets.length '>' 2}}
                Refine Search
            {{/if}}

            {{#if facets.length '<=' 2}}
                Refine Search
            {{/if}}
        </span>

        <!-- <span class="facetedSearch-toggle-indicator"> -->
            <span class="toggleLink-text toggleLink-text--on">
                {{lang 'search.faceted.hide-filters'}}

                <i class="sprite sprite-black-plus"></i>
            </span>

            <span class="toggleLink-text toggleLink-text--off">
                {{lang 'search.faceted.show-filters'}}

                <i class="sprite sprite-black-plus"></i>
            </span>
        </span> 
    </a>

    {{#any facets visible=true}}    
        <div
            id="facetedSearch-navList"
            class="facetedSearch-navList blocker-container">

                
                {{#each facets}}
                    {{#if visible}}                        
                        {{{dynamicComponent 'components/faceted-search/facets'}}}
                    {{/if}}
                {{/each}}

            <div class="blocker" style="display: none;"></div>
        </div>
    {{/any}}
</div>
