<!-- <section class="hero-container" onclick="window.location='//apexfoot.com/most-popular-shoes'">
    <div class="main-title">
        <h1 itemprop="name"><span>Welcome To</span> Apex</h1>
        <h2 itemprop="description">Relief from Foot Pain So You Can Stay Active</h2>
        <div class="button-wrap">
            <a href="/womens/view-all-shoes" class="button callout"><span><span><span>Shop Women's</span></span></span></a>
            <a href="/mens/view-all-shoes" class="button callout"><span><span><span>Shop Men's</span></span></span></a>
        </div>
    </div>
</section>-->

<div class="desktopshow">
<a href="/flash-sale/"><img src="//cdn11.bigcommerce.com/s-dhod3a8/images/stencil/original/image-manager/oct22-45p.jpg?t=1666379530" style="max-width:100%;vertical-align:middle;margin:5px 0px;" alt="45% off select Apex Shoes"></a>
</div>

<div class="mobileshow">
<a href="/flash-sale/"><img src="//cdn11.bigcommerce.com/s-dhod3a8/images/stencil/original/image-manager/oct22-45p-mobi.jpg?t=1666379528" style="max-width:100%;" alt="45% off select Apex Shoes"></a>
</div>
