<div class="orders">
    {{#each order.items}}
        {{#if shipping_rows.length}}
            {{#each shipping_rows}}
                <div class="account-listShipping">
                    <h5 class="account-listShipping-title">{{lang 'account.orders.details.ship_to_multi' street=address city=city state=state zip=zip country=country}}</h5>
                </div>
            {{/each}}
        {{/if}}
    <div class="account-listItem">
        <div class="account-product account-product--alignMiddle">
            <figure class="account-product-figure">
                {{#if type '===' 'giftcertificate'}}
                    <img  data-sizes="auto" src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="Gift Certificate" title="Gift Certificate">
                {{else}}
                    <img class="account-product-image" data-sizes="auto"src="{{getImage image 'productthumb_size' (cdn ../../theme_settings.default_image_product)}}"
                         alt="{{image.alt}}"
                         title="{{image.alt}}">
                {{/if}}
            </figure>
            <div class="account-product-body">
                <span class="account-product-price">{{price.formatted}}</span>
                <h5 class="account-product-title">{{quantity}} &#215; {{name}}</h5>
                {{#if options}}
                <ul>
                    {{#each options}}
                        <li>{{name}}: {{value}}</li>
                    {{/each}}
                </ul>
                {{/if}}
                {{#if gift_wrapping_name}}
                    <ul>
                        <li>{{lang 'account.orders.gift_wrapping'}} {{gift_wrapping_name}}</li>
                    </ul>
                {{/if}}
                {{#if event_date}}
                    <ul>
                        <li>{{event_date.name}}: {{event_date.date}}</li>    
                    </ul>
                {{/if}}
                {{#if refunded}}
                    <p class="account-product-refundQty">{{lang 'account.orders.refunded_quantity' qty=refunded_qty}}</p>
                {{else}}
                    {{#if refunded_qty}}
                        <p class="account-product-refundQty">{{lang 'account.orders.refunded_quantity' qty=refunded_qty}}</p>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
