<article class="blog-post col-md-4" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <meta itemprop="mainEntityOfPage" content="{{post.url}}">
    <a href="{{post.url}}">
        <div class="post-image" style="background-image: url({{getImage post.thumbnail 'blog_size'}})">
        </div>
        <h3 class="blog-title" itemprop="name headline">{{post.title}}</h3>
        <div class="blog-info">
            {{#if post.author}}
            <span class="blog-meta blog-meta-author"><span class="blog-icon"></span> {{lang 'blog.posted_by' name=post.author}}</span>
            {{/if}}
            <time datetime="{{post.date_published}}" itemprop="datePublished" class="blog-meta blog-meta-date"><span class="blog-icon"></i></span> On {{post.date_published}}</time>
            <meta itemprop="dateModified" content="{{post.date_published}}">
            {{#if show_tags}}
            {{#if post.tags}}
            <span class="blog-meta blog-meta-category"><span class="blog-icon"></span> In {{#each post.tags}}{{#if @first}}<a href="{{url}}"> {{name}}</a>{{else}}<a href="{{url}}">, {{name}}</a>{{/if}}{{/each}}</span>
            {{/if}}
            {{/if}}
        </div>
    </a>
    <div class="blog-body">
        {{#if post.body}}
        <div itemprop="articleBody">
        {{{post.body}}}
        </div>
        {{else}}
        <div itemprop="description">
        {{post.summary}}
        </div>
        {{#if post.show_read_more}}
        &hellip;
        {{/if}}
        {{/if}}
    </div>
    {{#if post.show_read_more}}
    <div class="blog-read-more button-wrap">
        <a href="{{post.url}}" class="button trust"><span><span><span>Read More </span></span></span></a>
    </div>
    {{/if}}
</article>
