{{#partial "page"}}
{{> components/account/navigation account_page='returns'}}
<main id="main-content">
	<div class="container-inner">
		<div class="row grid-gutter-vertical">
			<section class="col-md-9">
				<div class="page-content">
					<div class="account-row">
						<p>{{lang 'account.returns.successful'}}</p>
					</div>
				</div>
			</section>
			{{> components/account/subnav account_page='returns'}}
		</div>
	</div>
</main>
{{> components/common/email-signup}}
{{/partial}}
{{> layout/base}}
