<section class="image-full mbs-buy-now">
    <div class="row row-centered grid-gutter-vertical">
        <div class="col-lg-3">                            
            <div class="buy-now-product">
                <img src="{{cdn 'webdav:/mbs/MBS-3200M-Qrtr-Profile-Web.jpg'}}"/>
            </div>
            <div>
                <div class="buy-now-shoe-make">Men's Apex Moore Balance Shoes</div>
                <div class="button-wrap">
                    <a href="//www.apexfoot.com/apex-moore-balance-shoe-mbs-a3200m/" class="button buy-now" data-shoe="">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="buy-now-product">
                <img src="{{cdn 'webdav:/mbs/V753M-Qrtr-Profile_WEB.jpg'}}"/>
            </div>
            <div>
                <div class="buy-now-shoe-make">Men's Sierra Trail Runner - Gray/Blue</div>
                <div class="button-wrap">
                    <a href="//www.apexfoot.com/sierra-trail-runner-v753m-gray-blue/" class="button buy-now" data-shoe="">Buy Now</a>
                </div>
            </div>                            
        </div>
        <div class="col-lg-3">
            <div class="buy-now-product">
                <img src="{{cdn 'webdav:/mbs/MBS-3200M-Qrtr-Profile-Web.jpg'}}"/>
            </div>
            <div>
                <div class="buy-now-shoe-make">Women's Apex Moore Balance Shoes</div>
                <div class="button-wrap">
                    <a href="//www.apexfoot.com/apex-moore-balance-shoe-mbs-a3200w/" class="button buy-now" data-shoe="">Buy Now</a>
                </div>
            </div>                             
        </div>
        <div class="col-lg-3">
            <div class="buy-now-product">
                <img src="{{cdn 'webdav:/mbs/Apex-V854W-Qrtr-Profile-Web__93204.1527513787.jpg'}}"/>
            </div>
            <div>
                <div class="buy-now-shoe-make">Women's Lace Walkers - White/Periwinkle</div>
                <div class="button-wrap">
                    <a href="//www.apexfoot.com/womens-sierra-trail-runner-v753w-grey-purple/ " class="button buy-now" data-shoe="">Buy Now</a>
                </div>
            </div>                             
        </div>        
    </div>
</section>
