<div class="nav-callout">
    <div class="image">
        <a href="/diabetic-footwear/">
            <img class="lazyload" src="{{cdn 'webdav:/theme/loading.svg'}}" data-sizes="auto" data-src="{{cdn 'webdav:/navigation/featured-diabetic-shoes.jpg'}}" alt="Featured Diabetic Shoes"
            title="Featured Diabetic Shoes" style="display: block;">
        </a>
    </div>
    <div class="button-wrap">
        <a href="/diabetic-footwear/" class="button"><span><span><span>More Details</span></span></span></a>
    </div>
</div>
    
