<div class="submenu-wrap" data-id="accessories">
    <ul class="submenu">
        <li>
            <h5>Accessories</h5>
            <ul>
                <li><a href="/a-wave-orthotic-support/">Apex A-Wave Orthotic Insole</a></li>
                <li><a href="/copper-socks/">Copper Cloud Socks</a></li>
                <li><a href="/bunion-night-splint/">Splints</a></li>
            </ul>
        </li>
        <!-- <li class="featured">
            <h5>Orthotic Suite</h5>
            {{> components/header/submenu/orthotic-suite}}
        </li> -->
    </ul>
</div>
