<ul>
    <li class="first"><a href="/all-mens-shoes/"><strong>All Men's Styles</strong></a></li>
    <li><a href="/mens/arch-support-shoes/">Arch Support Shoes</a></li>
    <li><a href="/mens/boots/">Boots</a></li>
    <li><a href="/mens/braces-afos-shoes/">Braces/AFOs Shoes</a></li>
    <li><a href="/mens/casual-shoes/">Casual Shoes</a></li>
    <li><a href="/mens/dress-shoes/">Dress Shoes</a></li>
    <li><a href="/mens/heel-strap-shoes/">Heel Strap Shoes</a></li>
    <li><a href="/mens/stretch-shoes/">Stretch Shoes</a></li>   
    <li><a href="/mens/orthopedic-shoes/">Orthopedic Shoes</a></li>      
    <li><a href="/mens/diabetic-shoes/">Diabetic Shoes</a></li>      
    <li><a href="/mens/walking-shoes/">Walking Shoes</a></li>      
    <li><a href="/mens/tie-less-closure-shoes/">Tie-Less Closure Shoes</a></li>      
    <li><a href="/mens/strap-closure-shoes/">Strap Closure Shoes</a></li> 
    <li><a href="/mens/therapeutic-shoes/">Therapeutic Shoes</a></li>      
    <li><a href="/mens/wide-extra-wide-shoes/">Wide/Extra Wide Shoes</a></li>      
    <li><a href="/mens/athletic-shoes-and-sneakers/">Athletic Shoes and Sneakers</a></li>      
    <li><a href="/mens/apex-balance-shoes/">Balance Shoes</a></li>      
    <li><a href="/mens/work-shoes/">Work Shoes</a></li>  
    <li><a href="/mens/slip-resistant-shoes/">Slip Resistant Shoes</a></li>  
    <li><a href="/mens/extra-depth-shoes/">Extra-Depth Shoes</a></li>      
    <li><a href="/mens/hiking-shoes/">Hiking Shoes</a></li>          
    <li><a href="shoe-sizing-chart/">Shoe Sizing Chart</a></li>
</ul>
