
    
<div class="product-price">
    {{#if price.price_range}}
        {{> components/products/price-range price=price schema_org=schema_org}}
    {{else}}
    {{#if product.call_for_price}}
    <p>Please contact customer service at <a href="tel:8002522739" style="display: inline">800.252.2739</a> to order</p>
    {{else}}
        {{#if price.saved}}
            <p class="strike"><s><span class="original">{{price.rrp_without_tax.formatted}}</span></s></p>
            <p class="sale">Sale Price: <span class="sale">{{price.without_tax.formatted}}</span></p>
            {{else}}
                <p>{{price.without_tax.formatted}}</p>
            {{/if}}
        {{/if}}
    {{/if}}
</div>
        
