<div class="row">
    <div class="col-md-12" style="text-align: left;">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}    
    </div>
</div>
<article class="productView row" itemtype="http://schema.org/Product" itemscope>
	{{> components/products/productView-meta}}
	<div class="col-md-7">		
		<div class="productView-images">
			<!-- <section class="condition-box">
				{{> components/products/conditions-list}}
			</section> -->
			{{> components/products/productView-images}}
		</div>
	</div>
	<div class="col-md-5">
		<div class="productView-details">
			<div class="productView-header row">
				<div class="col-xs-6">
					<div class="yotpo bottomLine" data-product-id="{{product.id}}" data-name="{{product.title}}"
						data-url="{{product.url}}"></div>
				</div>
				<div class="col-xs-6" style="flex: 1;">
					{{> components/products/productView-price-new price=product.price schema_org=schema}}
				</div>
			</div>
			{{> components/products/productView-shortdescription}}
			{{product.detail_messages}}
			{{> components/products/productView-form}}
			{{{snippet 'product_details'}}}
		</div>
	</div>
</article>
<section class="condition-box mobile">
	{{> components/products/conditions-list}}
</section>
{{> components/products/productView-info}}
<div class="yotpo yotpo-main-widget"
data-product-id="{{product.id}}" 
data-name="{{product.title}}"
data-url="{{product.url}}"
data-image-url="{{getImage product.main_image 'product'}}"
data-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{/if}}{{#if product.price.without_tax}}{{product.price.without_tax.value}}{{/if}}"
data-currency="{{currency_selector.active_currency_code}}"
></div>

{{> components/products/related-products number_of_products_per_row='5'}}
